h1{
    text-align: center;
    color: lightgreen;
}

h3 {
    color: blue;
}

p {
    color: red;
}

#wrapper {
    border: thick black solid;
    border-radius: 20px;
    background-color: gray;
}

.rev1{
    text-align: center;
    border: thick black solid;
    border-radius: 20px;
    background-color: lightgray;
    float: left;
    width: 620px;
}